<!-- Clips List -->
<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <a *ngFor="let clip of clipService.pageClips" [routerLink]="['/', 'clip', clip.docID]"
     class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary transform hover:-translate-y-2 hover:shadow-2xl transition duration-300">

    <!-- Image -->
    <img class="card-img-top rounded-tl-2xl w-full" [src]="clip.screenshotURL" crossorigin>

    <!-- Shape -->
    <div class="relative">
      <div class="absolute pointer-events-none bottom-full w-full bg-secondary text-white">
        <div class="absolute bottom-full w-full pb-5 overflow-hidden">
          <svg viewBox="0 0 100 50" preserveAspectRatio="none" class="absolute bottom-0 w-full h-full tranform"
               style="transform-origin: top center; transform: scale(2);">
            <path d="M0 25h25L75 0h25v50H0z" fill="#283046"></path>
          </svg>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class="p-8">

      <!-- Heading -->
      <h2 class="text-2xl mb-2">{{ clip.title }}</h2>

      <div class="flex justify-between">
        <!-- Name & Date -->
        <p class="mb-0 text-indigo-400">
          {{ clip.displayName }} &#183;
          <span class="text-indigo-400">{{ clip.timestamp | fbTimestamp }}</span>
        </p>

        <!-- Favorite counter -->
        <span class="text-indigo-400 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block mr-1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
          </svg>
          {{ clip.favorites?.length ?? 0 }}
        </span>
        <!-- Favorite counter -->
      </div>
    </div>
  </a>
</div>
