<section class="container mx-auto bg-secondary p-6 border-0 border-none border-transparent">
  <div class="rounded relative flex flex-col">
    <div class="flex justify-between items-center">
      <h1 class="font-bold mb-2 text-3xl">{{ selectedClip?.title }}</h1>
      <div class="flex justify-between items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="w-6 h-6 cursor-pointer" (click)="closeClipDetail()">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
    <div class="text-indigo-400 mb-6 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-0.5">
        <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z"/>
      </svg>
      {{ userClip?.email }}
      <button *ngIf="clip?.status === 'pending'"
              class="text-white bg-green-500 hover:bg-green-600 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 ml-5">
        Duyệt
      </button>
      <button *ngIf="clip?.status === 'pending'" (click)="rejectClip()"
              class="text-white bg-red-500 hover:bg-red-600 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 ml-5">
        Xóa
      </button>
    </div>

    <div class="relative aspect-video">
      <video controls #videoPlayer crossorigin style="width:100%; height:auto;"
             class="video-js vjs-theme-forest mx-auto">
      </video>
    </div>

    <div class="text-sm mt-4 px-6">{{ selectedClip?.description }}</div>
  </div>
</section>
