<app-alert *ngIf="showAlert" [color]="alertColor">
  {{ alertMsg }}
</app-alert>

<div class="container mx-auto pl-4">
  <section class="relative flex justify-between items-center" style="height: 80vh">
    <!-- Information Form -->
    <div style="flex-grow: 3; height: 80vh">
      <p class="text-5xl mt-8 mb-8">Thông tin tài khoản</p>
      <form [formGroup]="informationForm" class="w-full max-w-3xl bg-secondary">
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-200 font-bold md:text-left mb-1 md:mb-0 pr-4">
              Tên người dùng
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              type="text" [formControl]="name">
            <ng-container *ngIf="name.touched && name.dirty">
              <p *ngIf="name.errors?.required" class="text-red-400">Vui lòng nhập tên người dùng</p>
              <p *ngIf="name.errors?.minlength" class="text-red-400">
                Tên người dùng phải có ít nhất {{ name.errors?.minlength.requiredLength }} ký tự
              </p>
            </ng-container>
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-200 font-bold md:text-left mb-1 md:mb-0 pr-4">
              Email
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 opacity-80 cursor-not-allowed"
              [formControl]="email" type="text" [disabled]="true">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-200 font-bold md:text-left mb-1 md:mb-0 pr-4">
              Tuổi
            </label>
          </div>
          <div class="md:w-2/3">
            <input
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
              type="text" [formControl]="age">
            <ng-container *ngIf="age.touched && age.dirty">
              <p *ngIf="age.errors?.required" class="text-red-400">Vui lòng nhập tuổi</p>
            </ng-container>
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-200 font-bold md:text-left mb-1 md:mb-0 pr-4">
              Số điện thoại
            </label>
          </div>
          <div class="md:w-2/3">
            <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700
              leading-tight focus:outline-none focus:bg-white focus:border-purple-500 opacity-80 cursor-not-allowed"
              type="text" [formControl]="phoneNumber" [mask]="'(000)000-0000'">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
        <span
          class="block text-gray-200 md:text-left mb-1 md:mb-0 pr-4 text-sm underline cursor-pointer text-indigo-400"
          (click)="toggleChangePassword()">
          Thay đổi mật khẩu
        </span>
          </div>
        </div>

        <!-- Change Password -->
        <div class="max-h-0 opacity-0" [ngClass]="{'change-password': changePassword}"
             style="transition: all .3s ease;">
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-200 font-bold md:text-left mb-1 md:mb-0 pr-4">
                Mật khẩu mới
              </label>
            </div>
            <div class="md:w-2/3">
              <input
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                [formControl]="password" type="password">
              <ng-container *ngIf="password.touched && password.dirty">
                <p *ngIf="password.errors?.required" class="text-red-400">Vui lòng nhập mật khẩu mới</p>
                <p *ngIf="password.errors?.pattern" class="text-red-400">
                  Mật khẩu phải gồm ít nhất 8 ký tự trong đó phải bao gồm cả chữ cái số và ký tự đặc biệt
                </p>
              </ng-container>
            </div>
          </div>
          <div class="md:flex md:items-center mb-6">
            <div class="md:w-1/3">
              <label class="block text-gray-200 font-bold md:text-left mb-1 md:mb-0 pr-4">
                Nhập lại mật khẩu mới
              </label>
            </div>
            <div class="md:w-2/3">
              <input
                class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500"
                [formControl]="confirm_password" type="password">
              <ng-container *ngIf="confirm_password.touched && confirm_password.dirty">
                <p *ngIf="confirm_password.errors?.required" class="text-red-400">Vui lòng nhập lại mật khẩu xác
                  nhận</p>
                <p *ngIf="confirm_password.errors?.noMatch" class="text-red-400">
                  Mật khẩu xác nhận không chính xác
                </p>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- Change Password -->

        <!-- Update Button -->
        <div class="md:flex md:items-center">
          <div class="md:w-2/3">
            <button type="submit" [disabled]="(informationForm.invalid && changePassword) || inSubmission"
                    class="clipz-btn disabled:opacity-50 disabled:cursor-not-allowed bg-indigo-400"
                    (click)="updateUser()">
              <span>Cập nhật tài khoản</span><i></i>
            </button>
          </div>
        </div>
        <!-- Update Button -->
      </form>
    </div>
    <!-- Information Form -->

    <!-- Profile -->
    <div class="profile h-2/6">
      <a>
        <div class="card flex relative justify-center items-end" [ngClass]="{'img3D': img3D}">
          <div class="wrapper absolute w-full">
            <img src="./assets/image/dark_rider-cover.jpeg" class="cover-image w-full h-full object-cover"/>
          </div>
          <!--          <img src="./assets/image/dark_rider-title.png" class="title" />-->
          <div class="text-5xl title flex justify-center items-end text-indigo-400">{{ userData?.name }}</div>
          <img src="./assets/image/dark_rider-character.webp" class="character"/>
        </div>
      </a>
    </div>
    <!-- Profile -->
  </section>
</div>
