<!-- Top Bar -->
<section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex justify-between">
    <button class="btn uppercase" type="button" routerLink="/upload">
      <strong>Upload Videos</strong>
      <div id="container-stars">
        <div id="stars"></div>
      </div>

      <div id="glow">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </button>


    <!-- Sort Videos -->
    <select class="text-black px-8 text-xl outline-none appearance-none" (change)="sort($event)">
      <option value="1" [selected]="videoOrder === '1'">Recent Uploads</option>
      <option value="2" [selected]="videoOrder === '2'">Oldest Uploads</option>
    </select>
  </div>
</section>

<!-- User's Video Section -->
<div class="container mx-auto my-8">
  <!-- Video List -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div *ngFor="let clip of clips"
         class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start">

      <!-- Image -->
      <a href="#">
        <img class="card-img-top rounded-tl-2xl w-full" [src]="clip.screenshotURL" crossorigin>
      </a>

      <!-- Body -->
      <div class="p-6 text-2xl flex items-center">
        <!-- Link -->
        <a [routerLink]="['/', 'clip', clip.docID]" class="font-bold mr-1.5">{{ clip.title }}</a>
        <span *ngIf="!copied" class="cursor-pointer" (click)="copyToClipboard($event, clip.docID)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
          </svg>
        </span>
        <span *ngIf="copied">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M18 5.25a2.25 2.25 0 00-2.012-2.238A2.25 2.25 0 0013.75 1h-1.5a2.25 2.25 0 00-2.238 2.012c-.875.092-1.6.686-1.884 1.488H11A2.5 2.5 0 0113.5 7v7h2.25A2.25 2.25 0 0018 11.75v-6.5zM12.25 2.5a.75.75 0 00-.75.75v.25h3v-.25a.75.75 0 00-.75-.75h-1.5z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M3 6a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V7a1 1 0 00-1-1H3zm6.874 4.166a.75.75 0 10-1.248-.832l-2.493 3.739-.853-.853a.75.75 0 00-1.06 1.06l1.5 1.5a.75.75 0 001.154-.114l3-4.5z" clip-rule="evenodd" />
          </svg>
        </span>
      </div>

      <!-- Actions -->
      <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
        <a (click)="openModal($event, clip)" href="#"
           class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
          <span class="material-icons text-base">build</span>
        </a>
        <a (click)="delete($event, clip)" href="#" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
          <span class="material-icons text-base">delete</span>
        </a>
      </div>

    </div>
  </div>
</div>

<app-edit [activeClip]="activeClip" (update)="update($event)"></app-edit>
