<app-modal modalID="quickViewClip">
  <section class="container mx-auto bg-secondary border-0 border-none border-transparent w-full">
    <div class="rounded relative flex flex-col">
      <div class="flex justify-between items-center">
        <h1 class="font-bold mb-2 text-3xl w-11/12 break-words">{{ activeClip?.title }}</h1>
      </div>

      <div class="relative aspect-video">
        <video controls #videoPlayer crossorigin style="width:100%; height:auto;"
               class="video-js vjs-theme-forest mx-auto">
        </video>
      </div>
    </div>
  </section>
</app-modal>
